.team {
  display: flex;
  width: 100%;
  /* max-width: 80%; */
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 1em;
}

.cardImage {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}

.icon {
  color: #2486e6;
  width: 40px;
  height: 40px;
  margin: 5px;
  /* position: relative; */
  /* z-index: 1; */
}

.column {
  height: 15vh;
}
.icon:hover {
  position: relative;
  z-index: 1;
  color: #eccdd0;
  cursor: pointer;
}
