.behavior {
  display: flex;
  justify-content: center;
}

.message {
  font-family: "Poppins", sans-serif;
}

.box {
  width: 50%;
  padding: 10px;
}

.boxhead {
  color: black;
}
.behaviorImage {
  width: 25%;
}

.ulDecoration {
  list-style-type: none; /* ?*/
}
