.aboutBackground {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding-bottom: 50px;
}
.aboutHeader {
  font-family: "Poppins", sans-serif;
  color: #6261b9;
  padding: 45px;
  font-weight: 900;
  text-align: center;
}
.videoImage {
  width: 100%;
}

.videoParent {
  max-width: 90rem;
}

.aboutPara {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 15px;
  margin-left: 5em;
  margin-right: 4em;
  margin-top: 4em;
}

.aboutParent {
  display: flex;
}
