.groupPic {
  display: flex;
  justify-content: center;
  background-color: #eccdd0;
  height: 40vh;
  position: relative;
}

.button5 {
  background-color: #eccdd0;
  padding-bottom: 30px;
}

.imageStyle {
  z-index: 1;
  position: absolute;
  bottom: 20%;
  width: 700px;
  height: 400px;
}

.message2 {
  font-family: "Poppins", sans-serif;
  padding-bottom: 20%;
  /* padding-top: 5%; */
}
