.something {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 30px;
  overflow: auto;
  height: 400px;
  width: 100%;

  justify-content: space-between;
}

.childsome {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  overflow: auto;
  justify-content: space-between;
}
.featureTitle {
  font-family: "Poppins", sans-serif;

  padding: 15px;
  background-color: #6261b9;
}

.featureTitle h1 {
  color: white;
}
