.something {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  overflow-x: auto;
}

.childsome {
  display: flex;
  justify-content: space-evenly;
}
.featureTitle {
  font-family: "Poppins", sans-serif;

  padding: 15px;
  background-color: #6261b9;
}

.featureTitle h1 {
  color: white;
}
