.parentDiv {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  float: center;
}

.imageComputer {
  width: 500px;
  height: auto;
  float: right;
}

.blurb {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  /* padding-left: 100px; */
}

.blurb h1 {
  color: #2486e6;
  font-weight: 900;
}

.parentBlurb {
  display: flex;
}
